


form {
    background: rgb(251, 251, 251);
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 9px #333 ;
  }
  
  form * {
    box-sizing: border-box;
  }
  
  form table {
    width: 100%;
    border-collapse: collapse;
  }
  
  form table tr, form table td {
    border: 1px solid rgb(156, 154, 154);
  }
  
  form table tr:first-child input {
    height: 50px;
    padding: 0 10px;
    font-weight: 700;
   
  }
  
  form table tr:not(:first-child) td {
    height: 70px;
  }
  
  form table tr:not(:first-child) td input {
    height: 100%;
  }
  
  form table input {
    width: 100%;
    display: block;
    border: 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  form table input:focus {
    outline: none;
   
  }
  
  form table input:hover {
    background: #eee;
    transition: all .2s ease-in-out;
    box-shadow: 1px 1px 2px 3px gray ;
  }
  
  form table input.operator {
    font-weight: 700;
    color: #fff;
    background: #df05cc;
  }
        h3{
          color:green;}
        h5{
          font-style:italic;
        }